body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    text-align: center;
    padding: 80px 20px;
    background-image: url("images.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 60vh;
}

header h1 {
    font-size: 5rem;
    margin-bottom: 10px;
    font-weight: bold;
    color: rgb(255, 254, 251);
}

header p {
    font-size: 1.7rem;
    color: #18be87;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    background: #1d9b92;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    border-radius: 10px;
}

.btn:hover {
    background: #167a71;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
}

.section {
    text-align: center;
    padding: 40px 20px;
    border-bottom: 1px solid #ddd;
}
.container img{
    filter: drop-shadow(1px 1px 10px rgb(146, 128, 177));
    transition: all 0.5s ease;
}
.container img:hover{
    transform: scale(1.2);
}


.section h2 {
    font-size: 2.4rem;
    margin-bottom: 10px;
    font-weight: bold;
}

.section p {
    font-size: 1rem;
    color: #0c0c0c;
    margin-bottom: 20px;
}

.features {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}
 .img1{
    width: 100%;
    filter: drop-shadow(1px 1px 10px rgb(174, 163, 192));
    transition: all 0.5s ease;
}
.img1:hover{
    transform: scale(1.1);
}

.feature {
    flex: 1;
    margin: 10px;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 4px gray;
    transition: all 0.5s ease;
}

.feature:hover{
    position: relative;
    top:-15px;
    transform: scale(1.1);
}

.feature h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.feature p {
    font-size: 1rem;
    color: #555;
}

.map-section {
    text-align: center;
    padding: 40px 20px;
    background: #f6f6f6;
}

.map {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.map img {
    width: 100%;
    border-radius: 10px;
}
